<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel='icon' type="images/png" href="https://raw.githubusercontent.com/Anion15/anion15.github.io/refs/heads/main/Preview.png">
  <title>상정인사이드</title>
  <meta name="description" content="상정인사이드 커뮤니티는 '정상의 반대'라는 개념을 바탕으로 자유롭고 창의적인 토론을 나누는 공간입니다.">
  <meta name="keywords" content="커뮤니티, 상정인사이드, 자유로운">
  <meta name="author" content="anion15">
  <meta property="og:title" content="상정인사이드">
  <meta property="og:description" content="정상의 반대말 상정. 자유로운 커뮤니티">
  <meta property="og:image" content="https://raw.githubusercontent.com/Anion15/anion15.github.io/refs/heads/main/full-logo.png">
  <meta property="og:url" content="https://anion15.github.io">
  <meta name="twitter:title" content="상정인사이드">
  <meta name="twitter:description" content="정상의 반대말 상정. 자유로운 커뮤니티">
  <meta name="twitter:image" content="https://raw.githubusercontent.com/Anion15/anion15.github.io/refs/heads/main/full-logo.png">
  <meta name="twitter:card" content="summary_large_image">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body { font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden; -ms-overflow-style: none; }
    ::-webkit-scrollbar { display: none;}
    @media (max-width: 511px) {body {width: 125%;}}
    @media (max-width: 410px) {body {width: 150%;}}
    @media (max-width: 342px) {body {width: 175%;}}
    @media (max-width: 292px) {body {width: 200%;}}
  </style>
</head>

<body class="flex flex-col min-h-screen bg-gray-100 dark">
  <header class="bg-white shadow py-4 px-6 mb-6 flex items-center justify-between">
    <!-- 왼쪽: 로고 -->
    <div class="flex items-center space-x-4">
      <a href="https://anion15.github.io">
        <img src="https://raw.githubusercontent.com/Anion15/anion15.github.io/refs/heads/main/logo-.png" alt="logo" class="w-28 sm:w-32 md:w-36 lg:w-40 xl:w-44" />
      </a>
    </div>
  
    <!-- 오른쪽: 버튼 그룹 -->
    <div class="flex space-x-2">
      <a href="/info"
         class="bg-gray-600 hover:bg-blue-600 text-white font-semibold
                text-sm sm:text-base md:text-sm sm:text-xl
                py-1 px-2 sm:py-2 sm:px-4 md:py-3 md:px-6 rounded">
        상정인사이드란?
      </a>
      <a href="/history"
         class="bg-gray-600 hover:bg-blue-600 text-white font-semibold
                text-sm sm:text-base md:text-sm sm:text-xl
                py-1 px-2 sm:py-2 sm:px-4 md:py-3 md:px-6 rounded">
        상정인사이드 역사
      </a>
    </div>
  </header>
    <body class="bg-gray-100 h-screen w-screen flex items-center justify-center">
    <div class="text-center">
        <h1 class="text-9xl font-extrabold text-red-600 mb-6">404</h1>
        <p class="text-3xl font-bold text-gray-800 mb-3">Page not found</p>
        <p class="text-xl text-gray-600 mb-8">페이지를 찾을 수 없습니다.</p>
        <a href="https://anion15.github.io"
        class="inline-block bg-blue-600 text-white text-lg font-medium px-8 py-4 rounded-full hover:bg-blue-700 transition duration-300">
        홈으로 돌아가기
        </a>
    </div>
    </body>
